@import 'reset';
@import 'buttons';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;800&display=swap');

html,
body {
  width: 100%;
  height: 100vh;
  font-family: 'Raleway';
  text-align: center;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex-grow: 1;
}

.header {
  letter-spacing: 0.15rem;
  font-size: 1.5rem;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.board-container {
  display: flex;
  gap: 5rem;
  justify-content: center;
  align-items: center;
}

.player-board,
.computer-board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  width: 340px;
  height: 340px;
  border: 0.5px solid #b4b4ff;
  margin-top: 3rem;
}

.board-cell {
  border: 0.5px solid #b4b4ff;
}

.footer {
  text-align: center;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
}

footer i {
  font-size: 2rem;
  color: #000;
}

footer .rotate {
  transition: transform 0.5s;
}

footer .rotate:hover {
  transform: rotate(360deg);
}
